<div id="navbar">
    <nav id="navmenu" class="navbar navbar-expand-sm navbar-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item wt">
                <a class="nav-link" href="{% url 'website:home' %}">Home</a>
            </li>
            <li class="nav-item wt">
                <a class="nav-link" href="{% url 'website:topnews' %}">Top News</a>
            </li>
            <li class="nav-item wt">
                <a class="nav-link" href="{% url 'website:politics' %}">Politics</a>
            </li>
            <li class="nav-item wt">
                <a class="nav-link" href="{% url 'website:economics' %}">Economics</a>
            </li>
            <li class="nav-item wt">
                <a class="nav-link" href="{% url 'website:technology' %}">Technology</a>
            </li>
            <li class="nav-item wt">
                <a class="nav-link" href="{% url 'website:environment' %}">Environment</a>
            </li>
            <li class="nav-item wt">
                <a class="nav-link" href="{% url 'website:culture' %}">Culture</a>
            </li>
           <li class="nav-item wt">
                <a class="nav-link" href="{% url 'website:discussions' %}">Discussions</a>
            </li>
        </ul>
    </nav>
</div>